streamlit
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
chromadb
pymongo
python-dotenv
sentence-transformers
huggingface-hub
torch
accelerate
numpy<2
diffusers
transformers
scipy
elevenlabs
ftfy
pypdf
faiss-cpu
